.pages{
  max-width: 1600px;
  padding: 10px;
  margin: 0 auto;
  place-items: center;
}

textarea {
  resize: none;
}

header {
  background: var(--secondary);
  color: var(--text);
  box-shadow: 0px 3px 6px #121416;
}
nav {
  max-width: 1400px;
  max-height: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLoginSignup{
  display: flex;
}

header a {
  color: black;
  text-decoration: none;
}


.loginForm{
  display: flexbox;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 6px 1px;
  max-width: 30%;
  margin: 6rem auto;
  padding: 5% 10%;
}

.loginForm *{
  margin: 0 auto;
  text-align: center;
}

.loginForm input{
  border: 0px;
  border-bottom: 1px solid;
  font-size: 1.5rem;
  margin: 1vh 0px;
  width: 100%;
  text-align: left;
}

.loginForm button{
  position: relative;
  left: 50%;
  translate: -50%;
}

.error{
  text-align: center;
  background-color: red;
  border-radius: 4px;
  color: white;
  min-height: 20px;
  margin: 1rem 0;
  padding: 0.3rem 0.1rem;
}

.post{
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  font-size: 3rem;
  max-width: 70%;
  flex-wrap: wrap;
}

.publish{
  box-sizing: border-box;
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
  max-width: 70%;
  margin: 0 auto;
  display: flexbox;
}

.publish input{
  border: none;
  border-bottom: 1px;
}

.publish *{
  margin: 1rem 1rem;
  font-size: 2rem;
}