.pages{
  max-width: 1600px;
  padding: 10px;
  margin: 0 auto;
  place-items: center;
}

header {
  background: var(--secondary);
  color: var(--text);
  box-shadow: 0px 3px 6px #121416;
}
nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .username{
  font-size: 20px;
}

nav div a{
  font-size: 20px;
}

header a {
  color: black;
  text-decoration: none;
}


.loginForm{
  display: flexbox;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 6px 1px;
  max-width: 30%;
  margin: 6rem auto;
  padding: 5% 10%;
}

.loginForm *{
  margin: 0 auto;
}

.loginForm input{
  border: 0px;
  border-bottom: 1px solid;
  font-size: 1.5rem;
  margin: 1vh 0px;
}

.loginForm button{
  position: relative;
  left: 50%;
  translate: -50%;
}

.post{
  font-size: 3rem;
}